.navbar {
  border-bottom: $navbar-border-bottom;
  padding: 2.5rem 2.25rem;
  @include mQ($browser-width-md) {
    padding: 1.9rem 2.25rem;
  }

  h1 {
    font-size: 2rem; 
    font-weight: bolder;
    @include mQ($browser-width-md) {
      font-size: 1.5rem;
    }
  }

  .navbar-nav {
    width: auto;
    background-color: #E9EDF8;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  .navbar-collapse {
    display: flex;
    justify-content: space-between;
  }

  .dropdown-toggle:after {
    padding: 2.5px;
  }

  @include media-breakpoint-down(md) {
    width: 100vw;
  }
}

.navbar-brand {
  font-weight: $navbar-brand-font-weight;
}

#username-box {
  margin-right: 55px;
  color: #252B36 !important;
  font-weight: 700;
  @include mQ($browser-width-md) {
    font-size: 0.83rem;
  }
}

.icon-box {
  width: 25%;
  height: 100%;
  background-color: #DDE3F3;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-icon,
.nav-flag {
  padding: .1rem .8rem;
  display: block;
  font-size: 1.5rem;
  color: $gray-600;
  transition: $transition-appearance-fast;
  line-height: 1.4;

  &:after {
    display: none !important;
  }

  &:hover,
  &.active {
    color: $primary;
  }

  svg,
  .feather {
    width: 20px;
    height: 20px;
  }
}

.nav-item {
  padding: 7px 25px;

  .circle-red {
    background: #f00;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .indicator {
    background: $primary;
    box-shadow: $box-shadow;
    border-radius: 50%;
    display: block;
    height: 18px;
    width: 18px;
    padding: 1px;
    position: absolute;
    top: 0;
    right: -8px;
    text-align: center;
    transition: top .1s ease-out;
    font-size: 0.675rem;
    color: $white;
  }

  &:hover .indicator {
    top: -4px;
  }

  a:focus {
    outline: 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .navbar .avatar {
    max-height: 47px;
  }
}

@include media-breakpoint-down(xs) {
  .navbar {
    padding: 0.75rem;
  }

  .nav-icon {
    padding: .1rem .75rem;
  }

  .dropdown,
  .dropleft,
  .dropright,
  .dropup {
    position: inherit;
  }

  .navbar-expand .navbar-nav .dropdown-menu-lg {
    min-width: 100%;
  }

  .nav-item .nav-link:after {
    display: none;
  }
}

.nav-flag img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  object-fit: cover;
}