{% extends "base.html" %}
{% load static %}
{% load highlight_selector %}

{% block css %}
{% endblock %}

{% block js %}

{% endblock %}

{% block title %}WoTT - Dashboard{% endblock title %}

{% block content %}
  <div class="wrapper">
    <nav class="sidebar sidebar-sticky">
      <div class="sidebar-content  js-simplebar">
        <a class="sidebar-brand" href="{% url 'root' %}">
          <img src="{% static '/logo-small.png' %}" width="190" alt="WoTT">
        </a>
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-primary btn-lg btn-block" id="inst-btn">
              Add Node
            </button>
          </div>
        </div>

        {% with url_name=request.resolver_match.url_name %}
            <ul class="sidebar-nav">
                <li class="sidebar-item {% if url_name|is_menu_highlight_id:'root' %}active{% endif %}">
                    <a class="sidebar-link" id="sidebar-root" href="{% url 'root' %}">Dashboard </a>
                </li>
                <li class="sidebar-item {% if url_name|is_menu_highlight_id:'global_policies' %}active{% endif %}">
                    <a class="sidebar-link" id="sidebar-policies" href="{% url 'global_policies' %}">Global Policies</a>
                </li>
                <li class="sidebar-item {% if url_name|is_menu_highlight_id:'claim-device' %}active{% endif %}">
                    <a class="sidebar-link" id="sidebar-claim-device" href="{% url 'claim-device' %}">Claim Node</a>
                </li>
                <li class="sidebar-item {% if url_name|is_menu_highlight_id:'actions' %}active{% endif %}">
                    <a class="sidebar-link" id="sidebar-recommended-actions" href="{% url 'actions' %}">
                      Recommended Actions
                      {% with user.profile.actions_count as actions_count %}
                      {% if actions_count %}
                        <span class="badge badge-pill badge-danger ml-2">{{ actions_count }}</span>
                      {% endif %}
                      {% endwith %}
                    </a>
                </li>
            </ul>
        {% endwith %}

      </div>
    </nav>

    <div class="main">
      <nav class="navbar navbar-expand navbar-light bg-white">
        <!-- <a class="sidebar-toggle d-flex mr-2">
          <i class="hamburger align-self-center"></i>
        </a> -->
        <div class="navbar-collapse collapse">
          {% block dashboard_title %}
          {% endblock dashboard_title %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                <i data-feather="settings"></i>
                <span class="text-dark">{{ user.username }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'profile' %}"><i class="align-middle mr-1"
                                                                       data-feather="user"></i>Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'auth_logout' %}">Sign out</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <main style="min-height: calc(100% - 125px);" class="content">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success" role="alert">
              <div class="alert alert-success text-center" role="alert"><h4><br>{{ message }}</h4></div>
            </div>
          {% endfor %}
        {% endif %}
        {% block admin_content %}
        {% endblock admin_content %}
      </main>
      <footer class="footer">
        <div class="container-fluid">
          <div class="row text-muted">
            <div class="col-6 text-left">
            </div>
            <div class="col-6 text-right">
              <p class="mb-0">
                &copy; 2019 - <a href="https://www.wott.io" class="text-muted">Web of Secure Things, Ltd</a>
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static '/js/csrf.js' %}"></script>
  <script type="text/javascript">
      $(() => {
          feather.replace();
      });
    {% if MIXPANEL_TOKEN %}
      $('.sidebar-link').click((e) => {
          mixpanel.track("Sidebar", {element: e.target.id});
      });
      $('#logout').click(() => {
          mixpanel.reset();
      });

      {% if signed_up %}
      mixpanel.alias("{{ user.email }}");
      mixpanel.track("Signed Up");
      {% elif signed_in %}
      mixpanel.track("Signed In");
      {% endif %}
      mixpanel.identify("{{ user.email }}");
      mixpanel.people.set({
          "$first_name": "{{ user.first_name }}",
          "$last_name": "{{ user.last_name }}",
          "$email": "{{ user.email }}",
          "$phone": "{{ user.profile.phone }}"
      });
    {% endif %}

    

    $('#inst-btn').on('click', show_install_msg );

    function copy_bash(e){
        let text = e.currentTarget.parentElement.children[1].innerText.trim();
        text = text.replace(/(\r\n|\n)/gm, ' && ');
        copyToClipboard(text).then(function() {
          /* clipboard successfully set */
          console.log("COPIED");
        }, function() {
            alert("Cannot copy to clipboard, please enable clipboard access in browser permissions.");
        });

      }

      function bash_block(text){
          let s = $('#bash_block').html();
          let copy_text = text.replace(/^(\$ )/gm, '');
          return s.replace('<!-- text -->', text).replace('&lt;!-- copy --&gt;', copy_text);
      }

      function show_install_msg(){
        $.ajax({
            url: '/ajax-pairing-keys/add_dev/',
            type: "POST",
            data: JSON.stringify({}),
            contentType: 'application/json',
        }).done(function (e) {
            console.log('success');
            let title = "To add a node, simply SSH in and run the following commands:";
            let msg = bash_block(
                     `$ sudo apt-get install -y curl\n`
                   + `$ sudo mkdir -p /opt/wott\n`
                   + `$ echo -e "[DEFAULT]\\\\nenroll_token = ${e.key}" | sudo tee -a /opt/wott/config.ini\n`
                   + `$ curl -s https://packagecloud.io/install/repositories/wott/agent/script.deb.sh | sudo bash\n`
                   + `$ sudo apt install -y wott-agent\n`);
            show_dialog(title, msg);
            document.querySelectorAll('pre code').forEach((block) => {
              hljs.highlightBlock(block);
            });
            $("button[btn_id='bash']").on("click", copy_bash);
        }).fail(function (e) {
            console.log('error');
            console.log(e.status, e.responseText);
            show_dialog('Error', e.status, e.responseText);
        })
      }

      /***
       *  setup dialog parameters and toggle on.
       *  @param title - dialog title
       *  @param message - dialog message
       *  @param errors - the errors string to display, if is not null.
       */
      function show_dialog(title, message, errors=null, h2_title='Add new node' )
      {
          $('#modal-title-h2')[0].innerText = h2_title;
          $('#modal-title')[0].innerText = title;
          $('#modal-msg')[0].innerHTML = message;
          if(errors == null)
            $('#modal-alert')[0].style.display = 'none';
          else
          {
            $('#modal-alert')[0].style.display = 'block';
            $('#modal-alert')[0].innerText = errors;
          }
          $('#wott-instruction-modal').modal('toggle');
      }


















    


  </script>
{% endblock %}
